@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-slide-effect {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-slide-effect.active {
  opacity: 1;
  transform: translateY(0);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

/* Remove up/down arrow dials from TextField */